body{
    background-image:url(../images/FamilyMT.jpg);
    background-repeat:no-repeat;
    overflow:visible;
}

.container{
}

 #home_head {
    background-color:#f0ad4e;
    opacity:0.7;
	padding: -30px;
 }
#descrption {

width: 600px;
margin-top: 200px;
padding:20px;
    background-color:#fff;
    opacity:0.9;
}

#content {

	background-color:#fff;
	opacity:0.9;
}

#showDishes{
    overflow-y:scroll;
    margin-top:100px;
}

.dishName{

    align: center;
}

#descr{
    margin:10px;
}

#ingrd{

    background-color:#EEE0AD;
    margin-top:10px;
    margin-left:10px;
}

#row2{

    padding: 20px;
    background-color:#EEE0AD;
    opacity:0.8;
}

#row2 button{
    margin-top:20px;
}

#dinnerthumbviews{
    background-color:#fff;
    padding-top: 100px;
    padding-left:50px;
    padding-right:50px;
    opacity:0.9;
}

#submit{
    padding-left:300px;
    background-color:#fff;
    padding-bottom:50px;
}

.inrow{
    margin-top:20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.rows{
    background-color:#fff;
    opacity:0.9
}

